{% extends 'base.html.twig' %}

{% block title %}Edit Course{% endblock %}

{% block body %}
    <!-- Flash message -->
    {% for message in app.flashes('message') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <!-- END Flash message -->
    <h1>{{ course.getName }}</h1>
    {{ include('course/_form.html.twig', {'button_label': 'Сохранить'}) }}
    <hr/>
    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
