{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}

{% block body %}
    <!-- Flash message -->
    {% for message in app.flashes('message') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <!-- END Flash message -->
    <div class="container">
        <div class="card mb-4 shadow-sm my-sm-3">
            <h3 class="mx-auto my-sm-3">Новый курс</h3>

            <div class="card-body">
                {{ include('course/_form.html.twig') }}
            </div>
            <div class="card-header">

                <a href="{{ path('course_index') }}" class="btn btn-secondary btn-lg">К списку курсов</a>
            </div>

        </div>
    </div>


{% endblock %}
