{% block body %}
    <h3>Предметы</h3>
    {% for lesson in lessons %}
        <div class="lessons">
            {{ lesson.getNumber }}.<a class="lessonShow" href="{{ path('lesson_show', {'id': lesson.getId}) }}">{{ lesson.Name }}</a>
        </div>
        </br>
    {% endfor %}
{% endblock %}
